.fullStrip {
    width: 100%;
    background-color: #DBD4FF; 
    padding: 50px;   
}

.opportunityStrip {
    width: 100%;
    background-color: #D4FBF2; 
    padding: 50px;   
}
  
.mockupFullStrip {
    width: 100%;
    background-color: #ADA0FA;
}

.attentionText {
    font-weight: 500;
    line-height: 140%;
}
.attentionHeader {
    font-size: 12pt;
    font-weight: 700;
    
}

.captionContainer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.captionHeader {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 25pt;
    color: #8371F1
}

.caption {
    font-family: 'Nunito', sans-serif;
    font-size: 22pt;
    font-weight: bold;

    line-height: 120%;
    
}

.quote {
    font-family: 'Nunito', sans-serif;
    color: #4F4C62

}

.opportunityHeader {
    font-family: 'Nunito', sans-serif;
    font-size: 2-pt;
    font-weight: bold;
    color: #8371F1

}

.opportunityCaption {
    font-family: 'Nunito', sans-serif;
    font-size: 18pt;
    font-weight: 400;
    line-height: 150%;
}