body {
    font-family: 'Lato', sans-serif;
    background: #FCFDFE;
    color: #F0F0F0;


}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.3fr 2.6fr 3.3fr 2fr;
    grid-template-areas: 
    "nav nav" 
    "header header"
    "header header"
    "header header"
    "header header";

}

nav {
    background: rgba(248, 248, 248, 0.1);
    grid-area: nav;
}

header {
    grid-area: header;
    /*display: flex;
    flex-direction: column;*/
    /*justify-content: space-around;
    align-content:stretch;*/

    /*display: flex;
    align-items: left;
    justify-content: space-between;
    align-content: space-around*/
}

h1 {
    font-size: 80px;
    line-height: 90px;
    margin-top: 15vh;
    margin-left: 20vh;

    color:#A81AFF;
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #A81AFF, #002FA9);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h2{
    font-size: 36px;
    margin-top: 0vh;
    margin-left: 20vh;
    color:#A81AFF;

}

button {
    margin-left: 20vh;
    margin-top: 5vh;
	background-color:#bdb9ff;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
    color:#ffffff;
    font-family: Lato;
    border: none;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}

button:hover {
	background-color:#5cbf2a;
}

